.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;    
    top: -3px;
    left: -3px;
    right: -3px;    
    background-color: white;
    /* adding the border */
    border-bottom-width: 1px;
    border-style: solid;
    border-bottom-color: rgb(192,192,192);
    z-index: 100;
}

.left-section {
    display: flex;
    align-items: center;
}

.middle-section {
    display: flex;
    align-items: center;
    margin-left: 70px;
    flex:1;
    margin-right: 30px;
    max-width: 500px;
}

.hamburger-menu {
    height:20px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height:20px;
}

.search-bar {
    flex: 1; /*to set movable search button along with page size*/
    height: 36px;
    padding-left: 12px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05); /*shadow inside search button*/
    width:0; /*Search bar to shrink*/
}

.search-bar::placeholder {
    font-family: Roboto, Arial;
}

.search-button {
    height: 40px;
    width: 66px;    
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    margin-left: -1px; /*To override the spacing to single line*/
    margin-right: 10px;
    border-radius: 2px;
}

.search-icon {
    height: 25px;
    margin-top: 4px; /*to psuh button down*/
}

.voice-search-icon-button {
    height: 40px;
    width: 40px;
    border-radius: 20px; /*To male icon round*/
    border: none;   /*To remove border*/  
    background-color: rgb(245, 245,     245);
}

.voice-search-icon {
    height: 24px;
    margin-top: 4px;
}

.right-section {
    display: flex;
    align-items: center;
    margin-right: 20px;
    justify-content: space-between; /*to align them equally in space*/
    width: 250px;
    flex-shrink: 0;/*to not shrink items upon reducing the page size*/
}

.upload-icon {
    height: 40px;
}

.youtube-icon {
    height: 40px;
}

.notifications-icon {
    height: 40px;
}

.current-user-picture {
    height: 40px;
    border-radius: 20px;
}

.notifications-icon-container {
    position: relative;
}

.notifications-count{
    position: absolute;
    top: 0;
    right:0;
    background-color: red;
    color: white;
    font-family: Roboto, Arial;
    font-size: 12px;
    padding: 4px;
    border-radius: 10px;
}